#gadgetCard {
    z-index: -1;
    text-align: center;
    width: 20%;
    margin: 1rem;
}

#gadgetCard:hover {
    cursor: pointer;
    /* transform: translate(0px, -8px);
    transition: 0.8s all ease; */
}

#gadgetImage:hover {
    cursor: pointer;
    transform: translate(0px, -8px);
    transition: 0.8s all ease;
}

#gadgetImage {
    aspect-ratio: 1;
    height: 10em;
    margin: 0;
}

#gadgetName {
    color: white;
    align-content: center;
    margin: 0;
}

#gadgetDescription {
    width: 100%;
    color: white;
}